# Node
node_modules/
npm-debug.log*
dist/
.vite/
# Python
.venv/
__pycache__/
*.pyc
# Env
.env
# OS/IDE
.DS_Store
*.swp
.vscode/
.idea/
# --- live sensors streaming ---
server/node_modules/
client/node_modules/
server/.env
client/.env
firmware/.pio/
.DS_Store
dist/
build/

# ignore accidental nested dirs
server/server/
server/client/
